.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}
.form-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.form-sidenav {
  padding: 20px;
}

/*
  ::ng-deep .mat-expansion-panel-body {
    background-color: red;
  }*/
/*

  fieldset {
    font-family: sans-serif;
    border: 5px solid #1F497D;
    background: #ddd;
    border-radius: 5px;
    padding: 15px;
}*/
.rectangular{
  height:47px !important;
  background-color: #156185 !important;
  width:45px !important ;

}
 /*click effect color change*/
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
	opacity: 0.5 !important;
	background-color: blue !important;
}
 /*inner circle color change*/
/*::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: blue!important;
}*/
