<!-- <form autocomplete="on" [formGroup]="formulario" > -->
    
    <div>    
        <button mat-button class="mb-1" style="float: right;background-color: #156185;color: white;" (click)="NuevoHorario();">
          Nuevo Horario
        </button>
    </div>
    <table mat-table [dataSource]="ELEMENT_DATA" class="mat-elevation-z8">
    
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>
      <ng-container matColumnDef="fechaRegistro">
        <th mat-header-cell *matHeaderCellDef> Fecha registro </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date:'dd/MM/yyyy hh:mm a' }}   </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.dscEstado}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
    <!-- <div *ngIf="SolicitudPage">

      <table mat-table [dataSource]="SolicitudPage.records" class="mat-elevation-z8">
    
        <ng-container matColumnDef="StCodigo">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element">
              {{element.stCodigo}}
          </td>
        </ng-container>
        <ng-container matColumnDef="stTipoRecurso">
          <th mat-header-cell *matHeaderCellDef> Tipo recurso </th>
          <td mat-cell *matCellDef="let element">
             {{element.stTipoRecurso}}
          </td>
        </ng-container>
        <ng-container matColumnDef="stEstado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.stEstado}}  </td>
        </ng-container>
        <ng-container matColumnDef="stUsuarioRegistro">
          <th mat-header-cell *matHeaderCellDef> Solicitado por </th>
          <td mat-cell *matCellDef="let element"> {{element.stUsuarioRegistro}} </td>
        </ng-container>
        <ng-container matColumnDef="stPerfil">
          <th mat-header-cell *matHeaderCellDef> Perfil solicitado</th>
          <td mat-cell *matCellDef="let element"> {{element.stPerfil}} </td>
        </ng-container>
        <ng-container matColumnDef="fxInicioLabor">
          <th mat-header-cell *matHeaderCellDef> Fecha Inicio Laboral</th>
          <td mat-cell *matCellDef="let element"> {{element.fxInicioLabor | date:'dd/MM/yyyy' }} </td>
        </ng-container>
        <ng-container matColumnDef="FxRegistro">
          <th mat-header-cell *matHeaderCellDef> Fecha creación </th>
          <td mat-cell *matCellDef="let element"> {{element.fxRegistro | date:'dd/MM/yyyy hh:mm a' }} </td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button style="background-color: #2BAEE5; color: white;" matTooltip="Editar solicitud" (click)="editarSolicitud(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Anular solicitud" (click)="AnularSolicitud(element)" *ngIf="element.permiteAnular">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"
                     [pageSize]="10"
                     showFirstLastButtons
                     [length]="SolicitudPage.totalElements"
                     (page)="onPaginateChange($event)" >
    
      </mat-paginator>
    </div> -->
    <!-- </form> -->
    