<div class="main-content">
  <div class="container-fluid">
    <div class="form-group row">
      <div class="col-md-12">
        <xng-breadcrumb></xng-breadcrumb>
      </div>
    </div>
      <div class="form-group row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="row">
                <div class="col-md-9">
                  <div class="card-icon"><i class="material-icons">person_add</i></div>
                   <h4 class="card-title">TIPO TRABAJADOR</h4>
                 </div>
                 <div class="col-md-3">
                  <h2 class="card-title">{{ codsolicitud }}</h2>
               </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel [expanded]="matexpansionpanelfiltro">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Filtro Búsqueda
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <form autocomplete="on" [formGroup]="formulario" *ngIf="formulario">
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Fecha inicio y Fecha Fin</mat-label>
                              <mat-date-range-input [rangePicker]="pickerR">
                                <input matStartDate placeholder="Fecha inicio" formControlName="fxInicio" [(ngModel)]="fechainicio">
                                <input matEndDate placeholder="Fecha fin" formControlName="fxFin" [(ngModel)]="fechafin">
                              </mat-date-range-input>
                              <mat-datepicker-toggle matSuffix [for]="pickerR"></mat-datepicker-toggle>
                              <mat-date-range-picker #pickerR></mat-date-range-picker>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Estado</mat-label>
                              <mat-select formControlName="fkMdEstado">
                                <mat-option *ngFor="let estado of lstEstadonewcatgoria" [value]="estado.stNombre" >
                                  {{estado.stNombre}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <button mat-raised-button class="btn btn-primary"  (click)="searchperfil(1,10)">
                              <mat-icon>search</mat-icon>
                              Buscar
                            </button>
                            <button mat-raised-button class="btn btn-info" [routerLink]="['/dashboard']">
                              <mat-icon>block</mat-icon>
                              Cancelar
                            </button>

                          </div>
                        </div>

                      </form>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Bandeja de Tipo Trabajador
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                        <div class="form-group row tablecustom">
                          <mat-sidenav-container fxFlex="0 1 auto">
                            <mat-sidenav-content>
                              <div class="row mt-3">
                                <div class="col-md-12">
                                 <!-- <button mat-raised-button class="btn float-right" routerLink="/contrato/nuevo">
                                    Nuevo Puesto
                                  </button>-->
                                  <button mat-raised-button class="btn float-right"  [routerLink]="['/administracion/newtipotrabajador']">
                                    <mat-icon>verified_user</mat-icon>
                                    Nuevo Tipo Trabajador
                                  </button>

                                </div>
                              </div>
                              <div class="table-container mt-3" *ngIf="listarMaestroDetalle !=null" >
                                  <table mat-table [dataSource]="listarMaestroDetalle.data" class="mat-elevation-z8">
                                   <!-- <ng-container matColumnDef="Stnombre">
                                      <th mat-header-cell *matHeaderCellDef class="table-column-150"> Nombre </th>
                                      <td mat-cell *matCellDef="let element" class="table-column-150">
                                          {{element.nombre}}
                                      </td>
                                    </ng-container>-->
                                    <ng-container matColumnDef="menu">
                                      <th mat-header-cell *matHeaderCellDef class="table-column-10"> menu </th>
                                      <td mat-cell *matCellDef="let element" class="table-column-10">
                                        <mat-menu #appMenu="matMenu">
                                          <div *ngIf="element.estado=='Activo'">
                                              <button  style="font-size: 12px;" mat-menu-item  (click)="Inactivar(element.idMaestroDetalle)">
                                                <mat-icon style="font-size: 15px; margin:5px 0 0 0;">visibility</mat-icon> Inactivar
                                              </button>
                                          </div>
                                          <div *ngIf="element.estado=='Inactivo'">
                                            <button  style="font-size: 12px;" mat-menu-item  (click)="Activar(element.idMaestroDetalle)">
                                              <mat-icon style="font-size: 15px; margin:5px 0 0 0;">check</mat-icon> Activar
                                            </button>
                                        </div>
                                        </mat-menu>
                                        <a style="cursor:pointer;color: #979797;" mat-icon-button
                                        [matMenuTriggerFor]="appMenu">
                                        <mat-icon>more_vert</mat-icon>
                                      </a>
                                      </td>
                                    </ng-container>
                                    <ng-container matColumnDef="stnombre">
                                      <th mat-header-cell *matHeaderCellDef class="table-column-150">Nombre </th>
                                      <td mat-cell *matCellDef="let element" class="table-column-150 colcustom" style="text-align: left!important;">
                                        <a href="/administracion/newtipotrabajador/{{element.idMaestroDetalle}}">{{element.stNombre}}</a>
                                      </td>
                                    </ng-container>
                                    <ng-container matColumnDef="stestado">
                                      <th mat-header-cell *matHeaderCellDef class="table-column-80"> Estado </th>
                                      <td mat-cell *matCellDef="let element" class="table-column-150 colcustom"> {{element.estado}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FxRegistro">
                                      <th mat-header-cell *matHeaderCellDef class="table-column-180"> Fecha Registro </th>
                                      <td mat-cell *matCellDef="let element" class="table-column-180 colcustom"> {{element.fxRegistro
                                        | date:'dd/MM/yyyy hh:mm
                                        a' }} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                    <tr class="mat-row no-data-row" *matNoDataRow>
                                      <td class="mat-cell" colspan="3">No se encontraron registro.</td>
                                    </tr>
                                  </table>
                                  <div *ngIf="isLoading" class="spinner-container">
                                    <mat-progress-spinner
                                      [diameter]="50"
                                      color="primary"
                                      mode="indeterminate">
                                    </mat-progress-spinner>
                                  </div>
                                  <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="listarMaestroDetalle.pageSize" showFirstLastButtons
                                [length]="listarMaestroDetalle.totalRecords" (page)="onPaginateChange($event)">
                              </mat-paginator>

                              </div>
                            </mat-sidenav-content>
                          </mat-sidenav-container>
                        </div>

                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
