<div class="main-content">
    <div class="container-fluid">
      <div class="form-group row">
        <div class="col-md-12">
          <xng-breadcrumb></xng-breadcrumb>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon"><i class="material-icons">mail_outline</i></div>
              <h4 class="card-title">REGISTRAR USUARIO</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <app-form-usuario-page (onGuardar)="crear($event)"></app-form-usuario-page>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>