<div class="main-content">
  <div class="container-fluid">
    <div class="form-group row">
      <div class="col-md-12">
        <xng-breadcrumb></xng-breadcrumb>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon"><i class="material-icons">mail_outline</i></div>
            <h4 class="card-title">SOLICITUD DE RECLUTAMIENTO DE PERSONAL</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <mat-toolbar>
                  <h1>{{solicitud?.stCodigo}}</h1>
                  <span class="spacer"></span>
                  <mat-chip-list>
                    <mat-chip style="background-color: #156185;" class="text-white">{{solicitud?.stEstado}}</mat-chip>
                    <mat-chip style="background-color: #463F7E;" class="text-white" *ngIf="solicitud?.stSubEstado"
                      selected>
                      {{solicitud?.stSubEstado}}</mat-chip>
                  </mat-chip-list>
                </mat-toolbar>

                <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="this.stepService.StepTab">
                  <mat-tab label="General">
                    <app-form-contra [solicitud]="solicitud" (onGuardar)="actualizar($event)" *ngIf="solicitud">
                    </app-form-contra>
                  </mat-tab>
                  <mat-tab label="Proceso de selección">
                    <div class="contrainer-fluid">
                      <br>
                      <div class="row">
                        <div class="col-md-4" *ngIf="false">
                          <mat-form-field appearance="outline">
                            <mat-label>Proveedor</mat-label>
                            <mat-select [value]="idProveedorSelect" (selectionChange)="onProveedorChange($event)">
                              <mat-option *ngFor="let tc of allProvs" [value]="tc.idProveedor">
                                {{tc.stNombre}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <button type="button" class="btn btn-info" mat-raised-button
                            *ngIf="solicitud?.isPermiteAgregarPostulante" (click)="AgregarPostulante();">
                            Agregar Postulante
                            <mat-icon>person_add</mat-icon>
                          </button>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-12">
                          <table mat-table [dataSource]="dsPostulantes" class="mat-elevation-z8">
                            <ng-container matColumnDef="menu" stickyEnd>
                              <th mat-header-cell *matHeaderCellDef> </th>
                              <td mat-cell *matCellDef="let element">
                                <mat-menu #appMenu="matMenu">
                                  <button type="button" style="font-size: 12px;"  mat-menu-item *ngIf="IsVisiblePermiteEditarSolicitud" (click)="EditarTarifaSOlicitud(element)">
                                    <mat-icon style="font-size: 15px; margin:5px 0 0 0;">edit</mat-icon>
                                    Editar                                 
                                  </button>
                                  <button type="button" style="font-size: 12px;"  mat-menu-item 
                                     (click)="solicitarEntrevista(element)"
                                    *ngIf="element.permiteAprobar">
                                    <mat-icon style="font-size: 15px; margin:5px 0 0 0;">how_to_reg</mat-icon>
                                    Solicitar entrevista
                                  </button>
                                  <button type="button" style="font-size: 12px;"  mat-menu-item 
                                    (click)="RechazarEntrevista(element)" *ngIf="element.permiteAprobar">                                    
                                    <mat-icon style="font-size: 15px; margin:5px 0 0 0;">remove_circle_outline</mat-icon>
                                    Rechazar entrevista
                                  </button>
                                  <button type="button" style="font-size: 12px;"  mat-menu-item 
                                     (click)="AprobarEntrevista(element)"
                                    *ngIf="element.permiteConfirmarEntrevista">                                    
                                    <mat-icon style="font-size: 15px; margin:5px 0 0 0;">timer</mat-icon>
                                    Confirmar entrevista
                                  </button>
                                  <button type="button" style="font-size: 12px;"  mat-menu-item 
                                    (click)="IngresarFeedBackEntrevista(element)"
                                    *ngIf="element.ingresarResultadoEntrevista">                                    
                                    <mat-icon style="font-size: 15px; margin:5px 0 0 0;">how_to_reg</mat-icon>
                                    Feedback entrevista
                                  </button>
                                  <button type="button" style="font-size: 12px;"  mat-menu-item 
                                    (click)="seleccionarGanador(element)" *ngIf="element.permiteElegirGanador">                                    
                                    <mat-icon style="font-size: 15px; margin:5px 0 0 0;">done</mat-icon>
                                    Elegir como ganador
                                  </button>
                                </mat-menu>
                                <a style="cursor:pointer;color: #979797;" mat-icon-button [matMenuTriggerFor]="appMenu">
                                  <mat-icon>more_vert</mat-icon>
                                </a>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="stEstado">
                              <th mat-header-cell *matHeaderCellDef class="table-column-200"> Estado</th>
                              <td mat-cell *matCellDef="let element" class="table-column-200"> {{element.stEstado}}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="stNombre">
                              <th mat-header-cell *matHeaderCellDef class="table-column-150"> Postulante </th>
                              <td mat-cell *matCellDef="let element" class="table-column-150"> {{element.stNombre}}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="stDocumento">
                              <th mat-header-cell *matHeaderCellDef class="table-column-120"> Nro Documento </th>
                              <td mat-cell *matCellDef="let element" class="table-column-120 text-center">
                                {{element.stNroDocumento}} </td>
                            </ng-container>
                            <ng-container matColumnDef="urlCv">
                              <th mat-header-cell *matHeaderCellDef class="table-column-150">Cv-Foto</th>
                              <td mat-cell *matCellDef="let element" class="table-column-150">
                                <button type="button" mat-icon-button style="color: #2BAEE5;" matTooltip="descargar cv"
                                  (click)="descargarArchivo(element.urlCv)" *ngIf="element.urlCv">
                                  <mat-icon>cloud_download</mat-icon>
                                </button>
                                <button type="button" mat-icon-button color="accent" matTooltip="descargar foto"
                                  (click)="descargarArchivo(element.urlFoto)" *ngIf="element.urlFoto">
                                  <mat-icon>image</mat-icon>
                                </button>
                                <button type="button" mat-icon-button style="color: #0a66c2;" matTooltip="Linkedin"
                                  (click)="abrirUrl(element.linkPerfil)" *ngIf="element.linkPerfil">
                                  
                                  <mat-icon>open_in_browser</mat-icon>
                                </button>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="stGradoInstruccion">
                              <th mat-header-cell *matHeaderCellDef class="table-column-150"> Especialidad </th>
                              <td mat-cell *matCellDef="let element" class="table-column-150 text-center">
                                {{element.stGradoInstruccion}} </td>
                            </ng-container>
                            <ng-container matColumnDef="flPresupuestoMensual">
                              <th mat-header-cell *matHeaderCellDef class="table-column-150">Sueldo</th>
                              <td mat-cell *matCellDef="let element" class="table-column-150">
                                <input type="number" class="form-control" value="{{element.flPresupuestoMensual}}"
                                  id="txt_{{element.idPostulante}}" />
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="stDisponibilidad">
                              <th mat-header-cell *matHeaderCellDef class="table-column-150"> Disponibilidad</th>
                              <td mat-cell *matCellDef="let element" class="table-column-150">
                                {{element.stDisponibilidad}} </td>
                            </ng-container>
                            <ng-container matColumnDef="fxFechaEntrevista">
                              <th mat-header-cell *matHeaderCellDef class="table-column-150"> Entrevista</th>
                              <td mat-cell *matCellDef="let element" class="table-column-150">
                                {{element.fxFechaEntrevista | date:'dd/MM/yyyy hh:mm'
                                }} </td>
                            </ng-container>
                            <ng-container matColumnDef="stLugarEntrevista">
                              <th mat-header-cell *matHeaderCellDef class="table-column-150"> Lugar </th>
                              <td mat-cell *matCellDef="let element" class="table-column-150">
                                {{element.stTipoEntrevista}} -
                                {{element.stLugarEntrevista}} </td>
                            </ng-container>
                            <ng-container matColumnDef="stMotivoRechazo">
                              <th mat-header-cell *matHeaderCellDef class="table-column-150"> Motivo rechazo</th>
                              <td mat-cell *matCellDef="let element" class="table-column-150">
                                {{element.stMotivoRechazo}} </td>
                            </ng-container>
                            <ng-container matColumnDef="stResultado">
                              <th mat-header-cell *matHeaderCellDef class="table-column-150"> Resultado </th>
                              <td mat-cell *matCellDef="let element" class="table-column-150"> {{element.stResultado}}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="inPrioridad">
                              <th mat-header-cell *matHeaderCellDef class="table-column-150">Prior</th>
                              <td mat-cell *matCellDef="let element" class="table-column-150"> {{element.inPrioridad}}
                              </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <!--<mat-tab label="Otros Datos">

                    <div class="contrainer-fluid">
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                        
                        </div>
                        <div class="col-md-6">
                        
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                        
                        </div>
                        <div class="col-md-3">
                        
                        </div>
                      </div>
                  </mat-tab>-->
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>