<div class="main-content">
  <div class="container-fluid">
    <div class="form-group row">
      <div class="col-md-12">
        <xng-breadcrumb></xng-breadcrumb>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="row">
            <div class="col-md-9">
              <div class="card-icon"><i class="material-icons">mobile_friendly</i></div>
               <h4 class="card-title">
                {{titulo}}
              </h4>
             </div>
           </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <mat-accordion class="example-headers-align" multi>
                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ subtitulo }}
                      </mat-panel-title>
                      <mat-panel-description>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <form autocomplete="on" [formGroup]="formularionewcategoria" *ngIf="showregiscateg" class="form-horizontal w-100 p-md-4 p-4" (ngSubmit)="guardarperiodo()">
                      <div class="row">
                        <div class="col-md-6">
                          <button mat-raised-button class="btn btn-info"  routerLink="/configuracion/periodo">
                            <mat-icon>block</mat-icon>
                            Cancelar
                          </button>
                          <button mat-raised-button class="btn btn-primary">
                            {{btnguar}}
                          </button>
                        </div>
                      </div>
                      <fieldset class="form-group p-3">
                        <legend class="w-auto px-2">DATOS GENERALES</legend>
                        <div class="row mt-3">
                          <div class="col-md-10">
                          <mat-form-field appearance="outline">
                            <mat-label>Nuevo periodo</mat-label>
                            <input matInput [(ngModel)]="newperiodotxt"
                            formControlName="stamaneperiodo" [formControl]="stamaneperiodo" required>
                            <mat-error *ngIf="stamaneperiodo.get('stamaneperiodo')?.hasError('required')">
                              Es necesario completar el nombre del nuevo periodo!
                            </mat-error>
                          </mat-form-field>
                          </div>
                          <div class="col-md-2" *ngIf="showestado">
                            <mat-form-field appearance="outline">
                              <mat-label>Estado</mat-label>
                              <mat-select formControlName="stmaneestado"  required [(ngModel)]="estadointtxt" (selectionChange)="chaneestadoperiodo($event)">
                               <!-- <mat-option *ngFor="let estado of lstEstadonewcatgoria" [value]="estado.idMaestroDetalle">
                                  {{estado.stNombre}}
                                </mat-option>-->
                                <mat-option *ngFor="let estado of estadocategoria" [value]="estado.value" >
                                  {{estado.viewValue}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="formularionewcategoria.get('stmaneestado')?.hasError('required')">
                                Seleccione el estado!
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row mt-3">
                        <div class="col-md-10">
                          <mat-form-field appearance="outline">
                            <mat-label>Fecha inicio y Fecha Fin</mat-label>
                            <mat-date-range-input [rangePicker]="pickerR">
                              <input matStartDate placeholder="Fecha inicio" formControlName="fxInicio" [(ngModel)]="fechainicio">
                              <input matEndDate placeholder="Fecha fin" formControlName="fxFin" [(ngModel)]="fechafin">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="pickerR"></mat-datepicker-toggle>
                            <mat-date-range-picker #pickerR></mat-date-range-picker>
                          </mat-form-field>
                        </div>
                        </div>
                      </fieldset>
                    </form>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
