<div class="main-content">
    <div class="container-fluid">
        <div class="form-group row">
            <div class="col-md-12">
                <xng-breadcrumb></xng-breadcrumb>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon"><i class="material-icons">mail_outline</i></div>
                        <h4 class="card-title">BANDEJA DE ROLES</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-accordion class="example-headers-align" multi>
                                    <mat-expansion-panel [expanded]="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Filtro Búsqueda
                                            </mat-panel-title>
                                            <mat-panel-description>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <form autocomplete="on" [formGroup]="formulario" *ngIf="formulario">
                                            <div class="row">                                               
                                                <div class="col-md-4">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Nombre</mat-label>
                                                        <input matInput formControlName="nombre">
                                                    </mat-form-field>
                           
                                                </div>
                                                <div class="col-md-4">
                                                    <!-- <mat-form-field appearance="outline">
                              <mat-label>Estado</mat-label>
                              <mat-select formControlName="fkMdEstadoContratacion">
                                <mat-option *ngFor="let tc of estado" [value]="tc.inCodigo">
                                  {{tc.stNombre}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <!--<mat-form-field appearance="outline">
                              <mat-label>Proyecto</mat-label>
                              <mat-select formControlName="fkProyecto">
                                <mat-option *ngFor="let tc of proyecto" [value]="tc.idProyecto">
                                  {{tc.stNombre}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>-->
                                                </div>
                                                <div class="col-md-4">
                                                    <!--<mat-form-field appearance="outline">
                              <mat-label>Fecha inicio y fin registro</mat-label>
                              <mat-date-range-input [rangePicker]="pickerR">
                                <input matStartDate placeholder="Fecha inicio" formControlName="fxInicio">
                                <input matEndDate placeholder="Fecha fin" formControlName="fxFin">
                              </mat-date-range-input>
                              <mat-datepicker-toggle matSuffix [for]="pickerR"></mat-datepicker-toggle>
                              <mat-date-range-picker #pickerR></mat-date-range-picker>
                            </mat-form-field>-->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <button mat-raised-button class="btn btn-primary"
                                                        (click)="Buscar()">
                                                        <mat-icon>search</mat-icon>
                                                        Buscar
                                                    </button>
                                                    <button mat-raised-button class="btn btn-warning"
                                                        (click)="Limpiar()">
                                                        <mat-icon>delete</mat-icon>
                                                        Limpiar
                                                    </button>                                                            
                                                </div>
                                                <div class="col-md-2">
                                                    <button mat-raised-button class="btn" routerLink="/seguridad/regroles" *ngIf="Nuevo">
                                                        Crear rol
                                                    </button> 
                                                </div>
                                            </div>
                                        </form>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel [expanded]="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Resultado Búsqueda
                                            </mat-panel-title>
                                            <mat-panel-description>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="form-group row">
                                            <!--              <div fxFlex="1 0 100%" fxLayout="column" fxLayoutAlign="start stretch">-->
                                            <mat-sidenav-container fxFlex="0 1 auto">
                                                <mat-sidenav-content>
                                                    <div class="table-container">
                                                        <table mat-table [dataSource]="listarDto"
                                                            class="mat-elevation-z8">
                                                            <ng-container matColumnDef="menu" stickyEnd>
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="table-column-80"> </th>
                                                                <td mat-cell *matCellDef="let element"
                                                                    class="table-column-80">
                                                                    <mat-menu #appMenu="matMenu">
                                                                        <a [routerLink]="['/seguridad/editroles',element.Id]" *ngIf="Editar" 
                                                                            queryParamsHandling="merge"
                                                                            style="font-size: 12px;" mat-menu-item>
                                                                            <mat-icon
                                                                                style="font-size: 15px; margin:5px 0 0 0;">
                                                                                edit</mat-icon>
                                                                            Editar Roles
                                                                        </a>

                                                                        <button (click)="voidActivarDesactivar(element.Id,element.Activo)" *ngIf="ActivarDesactivar"
                                                                            style="font-size: 12px;" mat-menu-item>
                                                                            <mat-icon style="font-size: 15px; margin:5px 0 0 0;">
                                                                                offline_pin</mat-icon> Activar / Desactivar
                                                                        </button>

                                                                        <button (click)="Eliminar(element.Id)" *ngIf="btnEliminar"
                                                                            style="font-size: 12px;" mat-menu-item>
                                                                            <mat-icon
                                                                                style="font-size: 15px; margin:5px 0 0 0;">
                                                                                delete</mat-icon> Eliminar
                                                                            Roles
                                                                        </button>
                                                                    </mat-menu>
                                                                    <a style="cursor:pointer;color: #979797;"
                                                                        mat-icon-button [matMenuTriggerFor]="appMenu">
                                                                        <mat-icon>more_vert</mat-icon>
                                                                    </a>
                                                                </td>
                                                            </ng-container>
                                                            <ng-container matColumnDef="Codigo">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="table-column-150"> Código </th>
                                                                <td mat-cell *matCellDef="let element"
                                                                    class="table-column-150">
                                                                    <a [routerLink]="Editar?['/seguridad/editroles',element.Id]:null"
                                                                        queryParamsHandling="merge">
                                                                        {{element.Codigo}}
                                                                    </a>
                                                                </td>
                                                            </ng-container>

                                                            <ng-container matColumnDef="Nombre">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="table-column-400"> Nombre </th>
                                                                <td mat-cell *matCellDef="let element"
                                                                    class="table-column-400">
                                                                    {{element.Nombre}} </td>
                                                            </ng-container>

                                                            <ng-container matColumnDef="Descripcion">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="table-column-400"> Descripcion </th>
                                                                <td mat-cell *matCellDef="let element"
                                                                    class="table-column-400">
                                                                    {{element.Descripcion}} </td>
                                                            </ng-container>


                                                            <ng-container matColumnDef="FechaRegistro">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="table-column-150 text-center"> Fecha
                                                                    Registro</th>
                                                                <td mat-cell *matCellDef="let element"
                                                                    class="table-column-150 text-center">
                                                                    {{element.FechaRegistro | date:'dd/MM/yyyy' }}
                                                                </td>
                                                            </ng-container>
                                                            <ng-container matColumnDef="Estado">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="table-column-200 text-center"> Estado </th>
                                                                <td mat-cell *matCellDef="let element"
                                                                    class="table-column-200 text-center">
                                                                    {{element.Estado}} </td>
                                                            </ng-container>
                                                            <ng-container matColumnDef="Peso">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="table-column-200 text-center"> Peso </th>
                                                                <td mat-cell *matCellDef="let element"
                                                                    class="table-column-200 text-center">
                                                                    {{element.Peso}} </td>
                                                            </ng-container>
                                                            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                                            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                                            <tr class="mat-row no-data-row" *matNoDataRow>
                                                                <td class="mat-cell" colspan="5">No se encontraron
                                                                    registro.</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </mat-sidenav-content>
                                            </mat-sidenav-container>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>