<div class="main-content">
  <div class="container-fluid">
    <div class="form-group row">
      <div class="col-md-12">
        <xng-breadcrumb></xng-breadcrumb>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="row">
              <div class="col-md-9">
                <div class="card-icon"><i class="material-icons">person_add</i></div>
                 <h4 class="card-title">BANDEJA DE AUSENCIA</h4>
               </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <mat-accordion class="example-headers-align" multi>
                  <mat-expansion-panel [expanded]="matexpansionpanelfiltro">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Filtro Búsqueda
                      </mat-panel-title>
                      <mat-panel-description>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <form autocomplete="on" [formGroup]="formulario" *ngIf="formulario">

                      <fieldset class="form-group p-3">
                         <legend class="w-auto px-2">OPCIONES DE BUSQUEDA</legend>
                         <div class="row mt-3">
                           <div class="col-md-3">
                            <mat-form-field appearance="outline">
                              <mat-label>CIP</mat-label>
                              <input matInput [(ngModel)]="CIPtxt"
                              formControlName="stamanecip" [formControl]="stamanecip">
                            </mat-form-field>
                           </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Apellidos o nombres</mat-label>
                              <input matInput [(ngModel)]="apellinombrestxt"
                              formControlName="stamaneapellinombres" [formControl]="stamaneapellinombres" style="text-transform: uppercase;">
                            </mat-form-field>
                          </div>
                         </div>
                         <div class="row">
                          <div class="col-md-3">
                            <mat-form-field appearance="outline">
                              <mat-label>Tipo de Ausencia</mat-label>
                                <mat-select formControlName="stmanetipoAusencia"  required [(ngModel)]="tipoAusenciaIDtxt" (selectionChange)="chanetipoAusencia($event)">
                                  <mat-option *ngFor="let estado of listartipoAusenciaxid" [value]="estado.idMaestroDetalle" style="text-transform: uppercase;">
                                    {{estado.stNombre}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="formulario.get('stmanetipoAusencia')?.hasError('required')">
                                  Seleccione el tipo de ausencia!
                                </mat-error>
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                           <!-- <mat-form-field color="accent" appearance="outline">
                              <mat-label>Fecha Ausencia</mat-label>
                              <input matInput [matDatepicker]="picker1" formControlName="fxInicio" [(ngModel)]="fechaAusencia">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>-->
                            <mat-form-field appearance="outline">
                              <mat-label>Fecha de ausencia</mat-label>
                              <mat-date-range-input [rangePicker]="pickerR">
                                <input matStartDate placeholder="Fecha inicio" formControlName="fxInicio" [(ngModel)]="fechainicio">
                                <input matEndDate placeholder="Fecha fin" formControlName="fxFin" [(ngModel)]="fechafin">
                              </mat-date-range-input>
                              <mat-datepicker-toggle matSuffix [for]="pickerR"></mat-datepicker-toggle>
                              <mat-date-range-picker #pickerR></mat-date-range-picker>
                            </mat-form-field>
                          </div>
                          <div class="col-md-2">
                            <button mat-raised-button class="btn btn-primary float-right"  (click)="searchperfil(1,10)">
                              <mat-icon>search</mat-icon>
                              Buscar
                            </button>
                          </div>

                         </div>

                      </fieldset>
                    </form>
                  </mat-expansion-panel>
                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>

                      </mat-panel-title>
                      <mat-panel-description>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <fieldset class="form-group p-3">
                      <legend class="w-auto px-2">RESULTADO</legend>
                       <div class="row mt-3">
                               <div class="col-md-12">
                                    <!-- <button mat-raised-button class="btn float-right"       routerLink="/contrato/nuevo">
                                      Nuevo Puesto
                                      </button>-->
                                    <button mat-raised-button class="btn float-right" [routerLink]="['/gestionasusencia/nuevasol']">
                                    <mat-icon>verified_user</mat-icon>Registrar Solicitud
                                    </button>
                               </div>
                              </div>
                                    <div class="table-container mt-3 text-center" style="text-align:center; font-size: 8px;" *ngIf="listarbandejainterface !=null" >
                                  <table mat-table [dataSource]="listarbandejainterface.data" class="mat-elevation-z8">
                                   <ng-container matColumnDef="menu">
                                     <th mat-header-cell *matHeaderCellDef class="table-column-30">Menu </th>
                                     <td mat-cell *matCellDef="let element" class="table-column-30" style="text-align: left; text-transform: uppercase;">

                                       <mat-menu #appMenu="matMenu">
                                         <div *ngIf="element.estado=='Pendiente aprobación'">
                                         <button  style="font-size: 12px;" mat-menu-item  (click)="ver(element.id,element.codigo, element.aprobador,element.cantidadDias,element.empleado,element.estado,element.fechaInicio,element.fechaFin,element.idEmpleado, element.idEstado,element.idTipoAusencia,element.motivoRechazo,element.tipoAusencia,element.comentario)">
                                           <mat-icon style="font-size: 15px; margin:5px 0 0 0;">local_see</mat-icon> Ver
                                         </button>
                                         <button  style="font-size: 12px;" mat-menu-item  (click)="observar(element.id,element.codigo, element.aprobador,element.cantidadDias,element.empleado,element.estado,element.fechaInicio,element.fechaFin,element.idEmpleado, element.idEstado,element.idTipoAusencia,element.motivoRechazo,element.tipoAusencia,element.comentario)">
                                           <mat-icon style="font-size: 15px; margin:5px 0 0 0;">keyboard_backspace</mat-icon>Rechazar
                                         </button>
                                          <button (click)="aprobarAusencia(element.id, element.empleado)" style="font-size: 12px;" mat-menu-item >
                                           <mat-icon style="font-size: 15px; margin:5px 0 0 0;">check</mat-icon> Aprobar
                                           </button>
                                           <button (click)="DescargarAdjunto(element.id)" style="font-size: 12px;" mat-menu-item >
                                            <mat-icon style="font-size: 15px; margin:5px 0 0 0;">backup</mat-icon> Descargar Adjunto
                                            </button>
                                        </div>
                                        <div *ngIf="element.estado=='Aprobado'">
                                         <button  style="font-size: 12px;" mat-menu-item  (click)="ver(element.id,element.codigo, element.aprobador,element.cantidadDias,element.empleado,element.estado,element.fechaInicio,element.fechaFin,element.idEmpleado, element.idEstado,element.idTipoAusencia,element.motivoRechazo,element.tipoAusencia,element.comentario)">
                                           <mat-icon style="font-size: 15px; margin:5px 0 0 0;">local_see</mat-icon> Ver
                                         </button>
                                         <button (click)="HistorialAusencia(element.id,element.idEmpleado,element.empleado,element.codigo)" style="font-size: 12px;" mat-menu-item >
                                           <mat-icon style="font-size: 15px; margin:5px 0 0 0;">share</mat-icon> Historial
                                         </button>
                                         <button (click)="DescargarAdjunto(element.id)" style="font-size: 12px;" mat-menu-item >
                                          <mat-icon style="font-size: 15px; margin:5px 0 0 0;">backup</mat-icon> Descargar Adjunto
                                          </button>
                                        </div>
                                        <div *ngIf="element.estado=='Rechazado'">
                                         <!--  <button (click)="aprobarAusencia(element.id, element.empleado)" style="font-size: 12px;" mat-menu-item >
                                           <mat-icon style="font-size: 15px; margin:5px 0 0 0;">check</mat-icon> Aprobar
                                           </button>-->
                                           <button (click)="HistorialAusencia(element.id,element.idEmpleado,element.empleado,element.codigo)" style="font-size: 12px;" mat-menu-item >
                                             <mat-icon style="font-size: 15px; margin:5px 0 0 0;">share</mat-icon> Historial
                                           </button>
                                           <button (click)="DescargarAdjunto(element.id)" style="font-size: 12px;" mat-menu-item >
                                            <mat-icon style="font-size: 15px; margin:5px 0 0 0;">backup</mat-icon> Descargar Adjunto
                                            </button>
                                        </div>
                                       </mat-menu>
                                       <a style="cursor:pointer;color: #979797;" mat-icon-button
                                       [matMenuTriggerFor]="appMenu">
                                       <mat-icon>more_vert</mat-icon>
                                        </a>

                                     </td>
                                   </ng-container>
                                   <ng-container matColumnDef="stcolaborador">
                                     <th mat-header-cell *matHeaderCellDef class="table-column-100">Colaborador </th>

                                     <td mat-cell *matCellDef="let element" class="table-column-100" style="text-align: left; text-transform: uppercase;">
                                       <div *ngIf="element.estado=='Pendiente aprobación' || element.estado=='Rechazado' ">
                                       <a href="/gestionasusencia/nuevasol/{{element.id}}">{{element.empleado}}</a>
                                       </div>
                                       <div *ngIf="element.estado=='Aprobado'" style="color:#979797">
                                         {{element.empleado}}
                                         </div>
                                     </td>

                                   </ng-container>

                                   <ng-container matColumnDef="stfxinicioauasencia">
                                     <th mat-header-cell *matHeaderCellDef class="table-column-100">Inico Ausencia </th>
                                     <td mat-cell *matCellDef="let element" class="table-column-100 text-center">{{element.fechaInicio | date:'dd/MM/yyyy'}}
                                     </td>
                                   </ng-container>
                                   <ng-container matColumnDef="stfxfinauasencia">
                                     <th mat-header-cell *matHeaderCellDef class="table-column-100">Fin Ausencia</th>
                                     <td mat-cell *matCellDef="let element" class="table-column-100 text-center">{{element.fechaFin | date:'dd/MM/yyyy'}}
                                     </td>
                                   </ng-container>
                                   <ng-container matColumnDef="stcantdias">
                                     <th mat-header-cell *matHeaderCellDef class="table-column-100">Cant. Días </th>
                                     <td mat-cell *matCellDef="let element" class="table-column-100 text-center">{{element.cantidadDias}}
                                     </td>
                                   </ng-container>
                                   <ng-container matColumnDef="stestado">
                                     <th mat-header-cell *matHeaderCellDef class="table-column-100">Estado </th>
                                     <td mat-cell *matCellDef="let element" class="table-column-100 text-center">
                                      {{element.estado}}
                                     </td>
                                   </ng-container>
                                   <ng-container matColumnDef="staprobador">
                                     <th mat-header-cell *matHeaderCellDef class="table-column-100">Tipo Ausencia </th>
                                     <td mat-cell *matCellDef="let element" class="table-column-100" style="text-align: left;">{{element.tipoAusencia}}
                                     </td>
                                   </ng-container>
                                   <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                             <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                             <tr class="mat-row no-data-row" *matNoDataRow>
                                               <td class="mat-cell" colspan="6">No se encontraron registro.</td>
                                             </tr>
                                  </table>
                                         <div *ngIf="isLoading" class="spinner-container">
                                   <mat-progress-spinner
                                     [diameter]="50"
                                     color="primary"
                                     mode="indeterminate">
                                   </mat-progress-spinner>
                                         </div>
                                      <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="listarbandejainterface.pageSize" howFirstLastButtons [length]="listarbandejainterface.totalRecords" (page)="onPaginateChange($event)">
                                     </mat-paginator>
                                    </div>


                    </fieldset>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
