.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.form-container {
  /* width: 500px;
    height: 300px; */
}

.form-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.form-sidenav {
  padding: 20px;
}

/*
  ::ng-deep .mat-expansion-panel-body {
    background-color: red;
  }*/
/*

  fieldset {
    font-family: sans-serif;
    border: 5px solid #1F497D;
    background: #ddd;
    border-radius: 5px;
    padding: 15px;
}*/

