<form autocomplete="on" [formGroup]="formulario" (ngSubmit)="guardar()" *ngIf="formulario">
    <div class="row">
      <div class="col-md-12">
          <button mat-raised-button class="btn">Guardar<mat-icon>save</mat-icon></button>
          <a class="btn btn-info" mat-raised-button [routerLink]="['/seguridad/bandApp']">Cancelar<mat-icon>block</mat-icon></a>
      </div>
    </div>
    <fieldset class="form-group border p-3">        
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="Nombre">
                    <mat-error *ngIf="formulario.controls['Nombre'].hasError('required')">
                        Este campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="formulario.controls['Nombre'].hasError('minlength')">
                      Este campo debe contener 3 caracteres como mínimo
                    </mat-error>                  
                    <mat-error *ngIf="formulario.controls['Nombre'].hasError('maxlength')">
                      Este campo debe contener 50 caracteres como máximo
                    </mat-error>
                </mat-form-field>
             </div>           
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                  <mat-label>Descripción</mat-label>
                  <input matInput formControlName="Descripcion">
                  <mat-error *ngIf="formulario.controls['Descripcion'].hasError('required')">
                      Este campo es obligatorio
                  </mat-error>
                  <mat-error *ngIf="formulario.controls['Nombre'].hasError('minlength')">
                    Este campo debe contener 3 caracteres como mínimo
                  </mat-error>                  
                  <mat-error *ngIf="formulario.controls['Descripcion'].hasError('maxlength')">
                    Este campo debe contener 50 caracteres como máximo
                  </mat-error>
              </mat-form-field>
          </div>         
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Icono</mat-label>
                    <input matInput formControlName="iconoWeb">                    
                </mat-form-field>
            </div> 
            <div class="col-md-2">
              <mat-form-field appearance="outline">
                <mat-label>Abreviación</mat-label>
                <input matInput formControlName="abreviacionWeb">                
            </mat-form-field>
           </div>
           
        </div>  
          <div class="row">
            <div class="col-md-8">
              <mat-form-field appearance="outline">
                  <mat-label>Ruta</mat-label>
                  <input matInput formControlName="Ruta">                
              </mat-form-field>
             </div>
            
            <div class="col-md-4">
                <mat-form-field appearance="outline" >
                    <mat-label>Opción padre</mat-label>
                    <input matInput formControlName="stPadre" readonly>                                      
                </mat-form-field>
            </div>           
        </div>        
    </fieldset>
  </form>   