<div class="auth">
  <div class="auth-form">
  <div class="auth-form__card" >
    <div class="auth-form__card--logo">
      <figure class="logo" >
        <img src="assets/img/auth/_logo-tgestiona.png"  alt=""/>
      </figure>
    </div>
    <div class="auth-form__card--title">
      Iniciar sesión
    </div>
      <form  class="mt-5" autocomplete="off" [formGroup]="form" (ngSubmit)="login()">
  
          <mat-form-field appearance="outline" class="w-full">
              <mat-label>Usuario</mat-label>
              <input matInput type="text" formControlName="usuario">
              <mat-error *ngIf="form.controls['usuario'].hasError('required')">
                  Este campo es obligatorio
              </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="w-full">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-error *ngIf="form.controls['password'].hasError('required')">
                  Este campo es obligatorio
              </mat-error>
          </mat-form-field>
  
          <button type="submit" mat-raised-button class="w-full  text-white" style="background-color:#156185;border-radius: 9999px;">
              Ingresar
          </button>
  
          <div *ngIf="error" class="alert-error mt-2">
              El usuario o contraseña no son correctos.
          </div>
          <div *ngIf="errorOlvideContrasenia" class="alert-error mt-2">
            El usuario es obligatorio.
        </div>

          <div style="align-content:center;">
            <button mat-button color="#5B84FA" (click)="olvideContrasenia();" type="button" >¿Olvidaste la contraseña? click aquí</button>            
        </div>
  
      </form>
    </div>
  </div>
  <div class="content-background">
    <svg
    class="semi-circle"
    viewBox="0 0 960 540"
    width="100%"
    height="100%"
  
    preserveAspectRatio="xMidYMax slice"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g
      class=""
      fill="none"
      stroke="currentColor"
      stroke-width="100"
      style="
      --tw-text-opacity: 1;
      color: rgba(51, 65, 85, var(--tw-text-opacity));
      opacity: 0.25;
  
      "
    >
    <!-- 86a7b7 -->
      <circle r="234" cx="196" cy="23"></circle>
      <circle r="234" cx="790" cy="491"></circle>
    </g>
  </svg>
  <!-- Dots -->
  <svg
    class="svg-square"
    viewBox="0 0 220 192"
    width="220"
    height="192"
    fill="none"
  
  >
    <defs>
      <pattern
        id="837c3e70-6c3a-44e6-8854-cc48c737b659"
        x="0"
        y="0"
        width="20"
        height="20"
        patternUnits="userSpaceOnUse"
      >
        <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
      </pattern>
    </defs>
    <rect
      width="220"
      height="192"
      fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"
    ></rect>
  </svg>
  <!-- @formatter:on -->
  <!-- Content -->
  <div class="content-text">
    <div class="content-text__text" >      
      <div>Sistema de</div>
      <div>Administración</div>
      <div>Apps</div>
    </div>
  </div>
  </div>
  </div>
  
  <router-outlet></router-outlet>
